body {
    margin: 0;
}

.header {
    height: 80px;
}


.main {
    display: flex;
    flex-direction: row;
}

.stocks-list {
    width: 30vw;
    height: calc(65vh - 80px - 34px);
}

.stock-graph {
    width: 70vw;
    height: calc(65vh - 80px - 34px);
}

.portfolio {
    height: 35vh;
}

.footer {
    height: 34px;
}

.loader {
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    width: 510px;
    height: 650px;
}