body {
    margin: 0;
}

.header {
    height: 80px;
}


.main {
    display: flex;
    flex-direction: row;
}

.stocks-list {
    width: 30vw;
    height: calc(65vh - 80px - 34px);
}

.stock-graph {
    width: 70vw;
    height: calc(65vh - 80px - 34px);
}

.portfolio {
    height: 35vh;
}

.footer {
    height: 34px;
}

.loader {
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
}